:root {
  --darkViolet: #221e37;
  --lightViolet: #74446c;
  --coldViolet: #463778;
  --lightestViolet: #9485c6;
}

body {
  background: #221e37;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

li, p {
  padding: 5px;
}

i {
  color: var(--lightestViolet);
}

.container {
  margin: 0 auto;
  width: 95%;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  padding: 5px;
  width: 70px;
  border: 1px lightgrey solid;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: .8em;
  position: fixed;
  bottom: 0;
  height: 5vh;
}