:root {
  --darkViolet: #221e37;
  --lightViolet: #74446c;
}

body {
  background: #221e37;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

li, p {
  padding: 5px;
}

i {
  color: #74446c;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*settings*/

.container__nav {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-search {
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

input {
  padding: 10px;
  font-family: inherit;
}

form {
  position: relative;
}

.results-box {
  position: absolute;
  top: 40px;
  font-weight: bold;
  width: 150px;
  border: lightgrey 1px solid;
  right: 70px;
  color: purple;
  background: white;
}

/*LandingPage*/

.about-hero__maintitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.about-hero {
  padding: 5px;
    margin: 5px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-hero__title {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

.about-hero__img {
  border-radius: 5px;
  width: 70vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.btn-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

.btn-round--no {
  background: #e16499;
  font-size: 50px;
}
.btn-round--yes {
  background: #00cb51;
  font-size: 30px;
}

.btn-round--small {
  width: 40px;
  height: 40px;
  background: var(--lightViolet);
}

/*HeroDetails*/

.link-homepage {
  position: absolute;
  z-index: 999;
  font-size: 50px;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.details-box {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 10px;
  margin: 10px;
}

.details-image {
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.details-subtitle {
  font-size: 1.1em;
  margin: 10px 0;
}

.bio {
  margin: 15px 0;
}